/*h1{
    display: inline-block;
    background-color: blue;
    width: 50%;
    height: 100px;
}
h2{
display: inline;
background-color: brown;

}*/
body{
   
  font-family: "Momo Signature", cursive;
  font-weight: 4;
  font-style: normal;
}










.bluebg{
    padding-top: 27px ;
    padding-bottom:24px ;
    color: white;
    text-align: center;

}
.bluebg{
    background-color: cornflowerblue;
    left: 200px;
    top: 20px;
}
.bluebg :hover{
    background-color: brown;
}
*{
    padding: 0;
    margin:0;
}
.puppies{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    

}
.puppy1{
    position: relative;
    top: 10px;
    left: 30px;
    margin-left: 300px;
    margin-right: 150px;
    

    
}
span{
    color: blueviolet;
}
.puppies{
    position:relative;
    top: 10px;
    bottom: 20px;
    left: 20px;
    margin-left: 320px;
    .missing-wrapper{
    background-color: red;
    margin-right: 20px;
    margin-left: 20px;
    font-size:30px;
     text-align:center;
     color:white
     
     
    }
        .missing-wrapper div{
            padding: 10px;
            text-align: center;
            margin-top: 50px;
            
        }
    }
   
footer h1{
    position: relative;
   left: 1px;
   bottom: 2px;
   
   

}




.mountain img{
    width: 200px;
    height: 150px;
    }
img{
    width:100 ;
}
.puppy1{
    margin-bottom:38px ;
}
footer{
    background-color: blue;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    color:white ;
}

footer :hover{
    background-color: blueviolet;
}

/*h3{
    margin-left: 450px;
    margin-right: auto;
}*/
/*.happy{
    margin-left: auto;
    margin-left: 350px;
    margin-right: 100px;
}*/

 h2{
    padding-left: 250px;
    text-align: center;
    color: rgb(30, 11, 11);
    margin-top: 15px;
    font-style: italic;
    background-color:darkorange;
}

    
   

    



.happy{
    padding-left: 150px;

}
 .missing-wrapper{
        border: 5px dashed violet;
        background-image: url( ../images/mountain.jpg);
        background-size: cover;



    }
    











